@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 95%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5% 64.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 240 0% 3.9%;
        --foreground: 0 0% 90%;
        --card: 240 0% 4%;
        --card-foreground: 0 0% 98%;
        --popover: 240 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    :root {
        --h2-color: 0 0% 10%; /* Más oscuro que el foreground */
        --p-color: 240 10% 20%; /* Un poco más claro que el foreground */
    }

    .dark {
        --h2-color: 0 0% 100%; /* Más blanco que el foreground */
        --p-color: 240 5% 80%; /* Un poco más oscuro que el foreground */
    }
    p {
        @apply text-sm leading-relaxed;
        color: hsl(var(--p-color));
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
    h2 {
        font-size: 2.25rem;
        letter-spacing: -0.02em;
        font-weight: 600;
    }
    h3 {
        font-size: 1.5rem;
        letter-spacing: -0.02em;
        font-weight: 600;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: hsl(var(--h2-color));;
        margin: 0 0 0.7rem 0;
    }
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-full w-9 h-9 bg-muted -indent-px border-background;
        @apply ml-[-50px] mt-[-4px];
        content: counter(step);
    }

    .chunk-container {
        @apply shadow-none;
    }

    .chunk-container::after {
        content: "";
        @apply absolute border shadow-xl -inset-4 rounded-xl;
    }

    @media (max-width: 640px) {
        .container {
            @apply px-4;
        }
    }
}
